<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-primary">
                Liste des différents component
            </div>
            <div class="alert alert-warning">
                <ul>
                    <li>app-search-travel</li>
                    <li>app-registration</li>
                    <li>app-connect</li>
                    <li>app-google-map</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-danger">
                <app-google-map></app-google-map>
            </div>
        </div>     
    </div>
</div>